:root {
  --custom-shadow-umbra: hsla(177, 100%, 34%, 0.4);
  --custom-shadow-penumbra: hsla(177, 100%, 34%, 0.3);
  --custom-shadow-ambient: hsla(177, 100%, 34%, 0.2);
}


.v-btn--variant-elevated {
  --v-shadow-key-umbra-opacity: var(--custom-shadow-umbra);
  --v-shadow-key-penumbra-opacity: var(--custom-shadow-penumbra);
  --v-shadow-key-ambient-opacity: var(--custom-shadow-ambient);
}


#input-v-1:-webkit-autofill,
#input-v-1:-webkit-autofill:hover,
#input-v-1:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px hsl(0, 0%, 12%) inset !important;
  -webkit-text-fill-color: white !important;
}

html, body, #app, .v-application {
  height: 100%;
}

.v-main {
  flex: 1 1 auto;
  overflow-y: auto;
}
